# Xcode
.DS_Store
build/
DerivedData/
*.xcworkspace
*.xcuserdata
*.xcuserstate
*.xcuserdatad

# Swift Package Manager
.build/
Packages/
xcshareddata/swiftpm/

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Other
*.ipa
*.dSYM.zip
*.dSYM